[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==21.8b0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
twine = "*"
yamllint = "*"

[requires]
python_version = "3.10"
